@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab");

$font-stack-serif: "Roboto Slab", serif;
$font-stack-sans: "Roboto", "Open Sans", sans-serif;

$primary-color: #05204a;
$secondary-color: #e1e2ef;
$text-color: #02020a;

body {
  background-color: $secondary-color;
  margin: 0;
}

.App {
  display: inline-flex;
  font-family: $font-stack-sans;
  width: 100vw;
}

.Map {
  width: 75vw;
}

.Nav {
  color: $text-color;
  max-width: 25%;
  p {
    text-align: center;
  }
  label {
    display: block;
    margin-top: 5px;
  }
  input {
    display: block;
    padding: 2px;
    margin: 5px 0;
    &[type="date"] {
      width: 130px;
    }
    &[type="number"] {
      width: 40px;
    }
  }
  form {
    padding: 10px 30px;
    margin-bottom: 15px;
  }
  button {
    color: $secondary-color;
    background-color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 10px;
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
  .header {
    text-align: center;
    color: $secondary-color;
    background-color: $primary-color;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5vh 0;
  }
  .filters {
    display: flex;
    flex-direction: column;
  }
  .mag-inputs {
    display: flex;
    .form-group:nth-child(2) {
      margin-left: 25px;
    }
  }
}

.InfoWindow {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}

// small
@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
  .Nav {
    max-width: 100%;
    text-align: center;
    .filters {
      text-align: left;
    }
  }
}

// med
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .App {
    flex-direction: column;
  }
  .Nav {
    max-width: 100%;
    text-align: center;
    .filters {
      text-align: left;
      justify-content: space-evenly;
      flex-direction: row;
    }
  }
}

@import "~bootstrap/scss/bootstrap.scss";
